/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body{
	background-color:#fff !important;
}
h1{
	color:#356d76 !important;
}
.topMenuList{
	display:none;
	margin:3.125% auto 6.25%;
}
.logo{
	display:block;
	margin:0.9365% auto; /* 9 / 960 */
}
.alignTopMenu{
	text-align:center;
}
.topMenu{
	display:inline-block;
	margin:3.125% auto 6.25%; /*30 / 960 */ /*60 / 960 */ 
	text-align:center;
	text-transform:uppercase;
	width:60%; /* 576 / 960 */
}
.topMenu li{
	display:inline-block;
	width:5em; /* 80 / 16 */
	margin:0 3.5%; /* 20 / 576 */
}
.topMenu li a{
	display:block;
	padding:10% 20%; /* 6 / 60 */  /* 30 / 60 */
	border-radius:10px;
	color:#FFF;
	width:100%;
	background:#71a7af;
	text-decoration:none;
}
.thirteen.columns.welcome{
	text-align: center;
	display: block;
	float:none;
	height:auto;
	margin:auto;
}
.thirteen.columns.welcome h1{
	display:inline-block;
}
span.amp {
   font-family:Baskerville,"Goudy Old Style","Palatino","Book Antiqua",serif;
   font-size:110%;
   font-style:italic;
}
.thirteen.columns.welcome article p{
	margin:5.27%;
	color:#356d76;
	font-size:1.125em; /* 18 / 16 */
	width:90%; /* 684 / 760 */
	display:inline-block;
}
.thirteen.columns.welcome article p strong{
	font-size:1.375em; /* 20 / 16 */
	color:#356d76;
}
.middleSeparator{
	background-image:url(../_images/separator.png);
	width:84px;
	height:20px;
	display:block;
	margin:auto;
	float:none;
	clear:both;
	margin-bottom:2.25em;
}
.ten.columns.solutions{
	display:block;
	margin:0 auto;
	float:none;
	text-align:center;
}
.des, .dev, .seo{
	display:inline-block;
	
}
.des{
	border-left:24px solid;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right:19px solid;
	border-color:#e9e9e9;
}
.dev{
	border-right:19px solid;
	border-color:#e9e9e9;
}
.seo{
	border-right:24px solid;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color:#e9e9e9;
}
.des figcaption, .dev figcaption, .seo figcaption{
	color:#356d76;
	font-weight:500;
	font-size:1.25em; /* 20 / 16 */
}
.seeMore{
	float:right;
	margin-top:1.5em;
	clear:both;
	display:block;
}
.seeMore a{
	text-decoration:none;
	font-size:1em;
	color:#71a7af;
}
footer{
	text-align: center;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.topMenu li{
			display:inline-block;
			width:4em; /* 80 / 16 */
			margin:0 3%; /* 20 / 576 */
		}
		.des{
			border-left:12px solid;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			border-right:10px solid;
			border-color:#e9e9e9;
		}
		.dev{
			border-right:12px solid;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-color:#e9e9e9;
		}
		.seo{
			margin: 1.2em auto;
			border-left:12px solid;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			border-right:12px solid;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-color:#e9e9e9;
			display:block;
			width:34.5%;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.dev{
			border-right:24px solid;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-color:#e9e9e9;
		}
		.seo{
			margin: 1.2em auto;
			border-left:24px solid;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			border-right:24px solid;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			border-color:#e9e9e9;
			display:block;
			width:34.5%;
		}
			
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.topMenuList{
			display:block;
		}
		.topMenu{
			display:none;
		}
		.thirteen.columns.welcome h1{
			display:inline-block;
			font-size:1.375em;
			line-height:1.375em;
		}
		.thirteen.columns.welcome article p{
			font-size:1.1em;
		}
		.thirteen.columns.welcome article p strong{
			font-size:1.2em;
			font-weight:700;
		}
		.des, .dev, .seo{
			border:none;
		}
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
